/*nav begin*/
.site-nav {
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
}
.site-nav-send,
.site-nav-r .fore {
    position: relative;
    padding:0 25px 0 10px;
}
.site-nav-send:hover {
    background: #fff;
}
.site-nav-send i,
.fore i {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 14px;
    height: 7px;
    font: 400 13px/15px "consolas";
    overflow: hidden;
}
.site-nav-send s,
.fore s{
    position: absolute;
    top: -7px;

}
.site-nav-r li {
    padding: 0 10px;
    float: left;
}
.site-nav-r .line {
    width: 1px;
    height: 12px;
    background-color: #0f0f0f;
    margin-top: 9px;
    padding: 0;
}
.site-nav-r .jd-tel {
    padding-left: 25px;
}

.jd-tel span{
    position: absolute;
    width: 15px;
    height: 20px;
    top: 5px;
    left: 5px;
    background: url("../images/111.png") no-repeat;
    background-size:cover;
}
/*nav end*/

/*banner begin*/
.banner {
    background-color: #00B7FF;
}
.tb {
    position: relative;
}
.close-banner {

}
.close-banner:hover {

}
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}
.search-logo a {
    display: block;
    width: 270px;
    height: 60px;
    text-indent:-9999em;/*首行文本进行缩进*/
    background: url("../images/logo.png") no-repeat;
}
.search-input {
    float: left;
    height: 36px;
    padding-top: 25px;
}
.search-input input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 4px;
    border:2px solid #B61D1D;
}
.search-input button {
    float: right;
    width: 82px;
    height: 36px;
    color: #fff;
    font:400 16px/36px "微软雅黑";
    background-color: #B61D1D;
    cursor: pointer;

}
.search-car {
    float: right;
    width: 96px;
    height: 34px;
    line-height: 34px;
    padding-left: 43px;
    position: relative;
    margin: 25px 65px 0 0;
    border: 1px solid #000;
}
.search-moreAlink {
    float: left;
    width: 530px;
    height: 28px;
    line-height: 28px;
}
.search-moreAlink a {
    margin-right:8px;
}
.icon1 {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url("../images/tel.png") no-repeat 0 -58px;
}
.icon2 {
    position: absolute;
    right: 10px;
    color: #999;
    font-family: "SimSun";
}
.icon3 {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 14px;
    background-color: #C81623;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius:7px 7px 7px 0;

}
/*banner end*/

/*shortnav begin*/
.shortnav {
    height: 44px;
    width: 100%;
    border-bottom: 1px solid red;
}
.shortnav-menu {
    width: 210px;
    height: 44px;
    float: left;
    background-color: pink;
    position: relative;
    z-index: 1;
}
.shortnav-menu-all a {
    display: block;
    width: 190px;
    height: 44px;
    color: white;
    padding:0 10px;
    background-color: #B61D1D;
    font: 400 15px/44px "microsoft yahei";
}
.shortnav-menu-one {
    height: 466px;
    margin-top: 2px;
    background-color: #C81623;
    border-left: 1px solid #000;
    border-bottom:1px solid #000;
}
.shortnav-menu-one div {
    height: 31px;
    color: #fff;
    font: 400 14px/31px "microsoft yahei";
    padding:0 10px;
}
.shortnav-menu-one div:hover {
    background-color: #fff;
}
.shortnav-menu-one div:hover a {
    background-color: #C81623;
}
.shortnav-menu-one h3 {
    float: left;
}
.shortnav-menu-one a {
    color: #fff;
}
.shortnav-menu-one i {
    float: right;
}
.shortnav-items {
    width: 730px;
    height: 44px;
    float: left;
}
.shortnav-items li {
    float: left;
}
.shortnav-items a {
    display: inline-block;
    height: 44px;
    padding:0 20px;
    color: #333;
    font: 400 16px/44px "microsoft yahei";
}
.shortnav-items a:hover {
    color: red;
}
.shortnav-img {
    width: 200px;
    height:44px;
    float: right;
    margin-top: -10px;
    margin-right: 50px;
    background-color: yellow;
}
/*sub-banner begin*/
.sub-banner {
    position: relative;
}
.sub-banner a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 644px;
    background: url("../images/subbanner.jpg") no-repeat center top;
}
/*sub-banner end*/


/*main begin*/
.main {
    position: relative;
}
.main-slider {
    float: left;
    width: 730px;
    height: 454px;
    position: relative;
    margin:12px 0 0 220px;
}
.main-slider ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -66px;
}
.main-slider li {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:0 2px;
    color: #fff;
    cursor: pointer;
    background-color: #3E3E3E;
   
}
.arrow a {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 28px;
    height: 62px;
    background:rgba(0,0,0,0.1);
    color: #fff;
    text-align: center;
    font: 400 22px/62px "simsun";
}
.arrow a:hover{
    background: rgba(0,0,0, .3);
}
.arrow-left {
    left: 0;
    border-radius: 0 10px 10px 0;
}
.arrow-right {
    right: 0;
    border-radius: 10px 0 0 10px;
}
.main-news {
    float: right;
    height: 466px;
    width: 250px;
}
.main-news-top {
    height: 372px;
    width: 248px;
    overflow: hidden;
    margin:12px 0 5px 0;
    border:1px solid #E4E4E4;
}
.main-news-top-faster {
    height: 163px;
    border: 1px dashed #E4E4E4;
}
.main-news-top-faster-title {
    height: 32px;
    padding:0 15px;
    line-height: 32px;
    border: 1px dotted #E8E8E7;
}
.main-news-top-faster-title h3 {
    float: left;
    font: 400 16px/32px "microsoft yahei";
}
.main-news-top-faster-title a {
    float: right;
    font-family: "consolas";

}
.main-news-top-faster-content {
    padding: 5px 0 0 15px;
}
.main-news-top-faster-content li {
    line-height: 24px;
}
.main-news-top-faster-content span {
    font-weight:700;
    margin-right: 5px;
}
.main-news-top-money ul {
    width: 260px;
}
.main-news-top-money li {
    width: 62px;
    height: 70px;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #E8E8E7;
    border-top:0;
}
.main-news-top-money a {
    display: block;
    width: 62px;
    height: 30px;
    position: relative;
    padding-top: 40px;
    text-align: center;
    line-height: 30px;
}
.main-news-top-money i {
    position: absolute;
    top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url("../images/fly.png") no-repeat;

}
.main-news-top-money .main-news-top-money-icon2 {
    background-position: 0 -25px;
}
.spe {
   /* background: url("../images/fly.png") no-repeat 47px 0;*/
}
/*main end*/

/*today end*/
.today {
    /*margin: 10px auto 20px;*/
    padding:10px 0 20px;
    position: relative;
}
.today-left {
    float: left;
}
.today-left a {
    display: block;
    width: 210px;
    height: 151px;
    background: gainsboro;
}
.today-right {
    width: 1000px;
    float: right;
    overflow: hidden;
    position: relative;
}
.today-right ul {
    width: 410%;
}
.today-right li {
    float: left;
    margin-right: 1px;
}
/*today begin*/

/*footer begin*/
.footer-top-slogen {
    width:100%;
    height: 54px;
    position: relative;
    padding: 20px 0;
    margin-bottom: 16px;
    background-color: #f5f5f5;
}
.footer-top-slogen-icon {
    position: absolute;
    left: 50%;
}
.footer-top-slogen-icon1 {
    margin-left: -604px;
}
.footer-top-slogen-icon2 {
    margin-left: -302px;
}
.footer-top-slogen-icon4 {
    margin-left: 302px;
}
.footer-top-shopping dl {
    float: left;
    width: 200px;
}
.footer-top-shopping .last-dl {
    width: 100px;
}
.footer-top-shopping dt {
    height: 34px;
    font: 400 16px/34px "microsoft yahei";
}
.fonter-top-shopping dd {
    line-height: 20px;
}
.coverage {
    width: 186px;
    height: 169px;
    float: right;
    margin-right: 40px;
    padding-left: 17px;
    background: url("../images/china.png") no-repeat left bottom;
}
.coverage p {
    padding-top: 8px;
}
.coverage a {
    float: right;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding:20px 0 30px;
    border-top:1px solid #5e5e5e;
}
.footer-bottom-links a {
    margin:0 10px;
}
.footer-bottom-coyright {
    padding: 10px 0;
}
.footer-bottom-img a {
    margin:0 5px;
}
/*
.clearfix:after {
    content: ".";
    height:0;
    visibility: hidden;
    overflow: hidden;
    display: block;
    clear: both;
}*/
/*

/*
.clearfix:before, .cleafix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}*/
/*footer end*/